USE [master]
GO
/****** Objeto: Database [db50446] Fecha de script: 18/5/2026 22:33:07 ******/
CREATE DATABASE [db50446]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db50446', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db50446.mdf' , SIZE = 73728KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db50446_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db50446_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db50446].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db50446]
GO
/****** Objeto: FullTextCatalog [db50446] Fecha de script: 18/5/2026 22:33:08 ******/
CREATE FULLTEXT CATALOG [db50446] AS DEFAULT
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[TipoDocumento] [varchar](20) NOT NULL,
	[DUI] [varchar](10) NULL,
	[CarnetExtranjero] [varchar](20) NULL,
	[TarjetaId] [int] NOT NULL,
	[TipoClienteId] [int] NOT NULL,
	[EstadoClienteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CorteCaja] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorteCaja](
	[CorteId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraEntrega] [time](7) NULL,
	[MontoInicial] [decimal](10, 2) NOT NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[ObservacionInicial] [varchar](255) NULL,
	[ObservacionFinal] [varchar](255) NULL,
	[UsuarioAperturaId] [int] NOT NULL,
	[UsuarioCierreId] [int] NULL,
	[EstadoCorteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CorteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[EmpleadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DUI] [varchar](10) NOT NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Direccion] [varchar](255) NOT NULL,
	[EstadoEmpleadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCliente](
	[EstadoClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoCorte] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCorte](
	[EstadoCorteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoCorteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEmpleado](
	[EstadoEmpleadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoEmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoPermanencia] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPermanencia](
	[EstadoPermanenciaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoPermanenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTarjeta](
	[EstadoTarjetaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoTarjetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTicket](
	[EstadoTicketId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoUsuario](
	[EstadoUsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoUsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoVehiculo](
	[EstadoVehiculoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoVehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MultaTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultaTicket](
	[MultaId] [int] IDENTITY(1,1) NOT NULL,
	[Concepto] [varchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MultaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Parqueo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parqueo](
	[ParqueoId] [int] IDENTITY(1,1) NOT NULL,
	[CapacidadTotal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParqueoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[TarjetaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[EstadoTarjetaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TarjetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ticket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NULL,
	[Total] [decimal](10, 2) NULL,
	[TarjetaId] [int] NOT NULL,
	[CorteId] [int] NOT NULL,
	[EstadoTicketId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[EstadoPermanenciaId] [int] NOT NULL,
	[TipoVehiculoId] [int] NOT NULL,
	[PrecioAplicado] [decimal](10, 2) NOT NULL,
	[MultaId] [int] NULL,
	[VehiculoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCliente](
	[TipoClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVehiculo](
	[TipoVehiculoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoVehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[EstadoUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[VehiculoId] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[TipoVehiculoId] [int] NOT NULL,
	[EstadoVehiculoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Apellido], [Telefono], [TipoDocumento], [DUI], [CarnetExtranjero], [TarjetaId], [TipoClienteId], [EstadoClienteId]) VALUES (1, N'Juan', N'Santos', N'7898-9098', N'DUI', N'09998877-3', N'', 1, 1, 1)
INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Apellido], [Telefono], [TipoDocumento], [DUI], [CarnetExtranjero], [TarjetaId], [TipoClienteId], [EstadoClienteId]) VALUES (5, N'Edward Edenilson', N'Martinez Rodriguez', N'7888-7780', N'DUI', N'09987766-7', N'', 3, 2, 2)
INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Apellido], [Telefono], [TipoDocumento], [DUI], [CarnetExtranjero], [TarjetaId], [TipoClienteId], [EstadoClienteId]) VALUES (6, N'Alejandra', N'Sánchez', N'7809-8877', N'DUI', N'09867433-8', N'', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[CorteCaja] ON 

INSERT [dbo].[CorteCaja] ([CorteId], [Fecha], [HoraInicio], [HoraEntrega], [MontoInicial], [MontoTotal], [ObservacionInicial], [ObservacionFinal], [UsuarioAperturaId], [UsuarioCierreId], [EstadoCorteId]) VALUES (3, CAST(N'2026-05-03' AS Date), CAST(N'21:09:52.5400000' AS Time), CAST(N'21:27:01.5867706' AS Time), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Inicio de jornada', N'Cierre de jornada', 1, 1, 2)
INSERT [dbo].[CorteCaja] ([CorteId], [Fecha], [HoraInicio], [HoraEntrega], [MontoInicial], [MontoTotal], [ObservacionInicial], [ObservacionFinal], [UsuarioAperturaId], [UsuarioCierreId], [EstadoCorteId]) VALUES (4, CAST(N'2026-05-04' AS Date), CAST(N'11:48:40.1871497' AS Time), CAST(N'11:52:05.7196537' AS Time), CAST(10.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), N'Iniciando Corte de Caja', N'Todo Correcto', 1, 1, 2)
INSERT [dbo].[CorteCaja] ([CorteId], [Fecha], [HoraInicio], [HoraEntrega], [MontoInicial], [MontoTotal], [ObservacionInicial], [ObservacionFinal], [UsuarioAperturaId], [UsuarioCierreId], [EstadoCorteId]) VALUES (5, CAST(N'2026-05-04' AS Date), CAST(N'15:10:07.7310564' AS Time), CAST(N'21:29:40.8585807' AS Time), CAST(20.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), N'TODO BIEN', N'Se le aplico multa a un usuario', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[CorteCaja] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([EmpleadoId], [Nombre], [Apellido], [DUI], [Correo], [Telefono], [Direccion], [EstadoEmpleadoId]) VALUES (1, N'José Rodrigo', N'Chavez Gutierrez', N'07627922-9', N'jose@gmail.com', N'7090- 899', N'Santo Domingo', 1)
INSERT [dbo].[Empleado] ([EmpleadoId], [Nombre], [Apellido], [DUI], [Correo], [Telefono], [Direccion], [EstadoEmpleadoId]) VALUES (2, N'Josué', N'Bonilla', N'09808798-7', N'bonilla@gmail.com', N'7049-7899', N'el kilo 5', 2)
INSERT [dbo].[Empleado] ([EmpleadoId], [Nombre], [Apellido], [DUI], [Correo], [Telefono], [Direccion], [EstadoEmpleadoId]) VALUES (3, N'Daniel Alexander', N'Alas Sanchez', N'02171034-3', N'daniel.alas@gmail.com', N'5436-5635', N'Col. 14, Sonsonate, Sonsonate', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCliente] ON 

INSERT [dbo].[EstadoCliente] ([EstadoClienteId], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoCliente] ([EstadoClienteId], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadoCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCorte] ON 

INSERT [dbo].[EstadoCorte] ([EstadoCorteId], [Nombre]) VALUES (1, N'Abierto')
INSERT [dbo].[EstadoCorte] ([EstadoCorteId], [Nombre]) VALUES (2, N'Cerrado')
SET IDENTITY_INSERT [dbo].[EstadoCorte] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoEmpleado] ON 

INSERT [dbo].[EstadoEmpleado] ([EstadoEmpleadoId], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoEmpleado] ([EstadoEmpleadoId], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadoEmpleado] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPermanencia] ON 

INSERT [dbo].[EstadoPermanencia] ([EstadoPermanenciaId], [Nombre]) VALUES (1, N'Dentro')
INSERT [dbo].[EstadoPermanencia] ([EstadoPermanenciaId], [Nombre]) VALUES (2, N'Retirado')
SET IDENTITY_INSERT [dbo].[EstadoPermanencia] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoTarjeta] ON 

INSERT [dbo].[EstadoTarjeta] ([EstadoTarjetaId], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoTarjeta] ([EstadoTarjetaId], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadoTarjeta] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoTicket] ON 

INSERT [dbo].[EstadoTicket] ([EstadoTicketId], [Nombre]) VALUES (2, N'Cancelado')
INSERT [dbo].[EstadoTicket] ([EstadoTicketId], [Nombre]) VALUES (1, N'Pendiente')
SET IDENTITY_INSERT [dbo].[EstadoTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoUsuario] ON 

INSERT [dbo].[EstadoUsuario] ([EstadoUsuarioId], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoUsuario] ([EstadoUsuarioId], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadoUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoVehiculo] ON 

INSERT [dbo].[EstadoVehiculo] ([EstadoVehiculoId], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoVehiculo] ([EstadoVehiculoId], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadoVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[MultaTicket] ON 

INSERT [dbo].[MultaTicket] ([MultaId], [Concepto], [Precio]) VALUES (1, N'Tarjeta Perdida', CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MultaTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[Parqueo] ON 

INSERT [dbo].[Parqueo] ([ParqueoId], [CapacidadTotal]) VALUES (1, 50)
SET IDENTITY_INSERT [dbo].[Parqueo] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolId], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([RolId], [Nombre]) VALUES (2, N'Vigilante')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarjeta] ON 

INSERT [dbo].[Tarjeta] ([TarjetaId], [Codigo], [EstadoTarjetaId]) VALUES (1, N'AS092026', 1)
INSERT [dbo].[Tarjeta] ([TarjetaId], [Codigo], [EstadoTarjetaId]) VALUES (2, N'TARJ-6221', 1)
INSERT [dbo].[Tarjeta] ([TarjetaId], [Codigo], [EstadoTarjetaId]) VALUES (3, N'TARJ-8838', 1)
SET IDENTITY_INSERT [dbo].[Tarjeta] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [Fecha], [HoraEntrada], [HoraSalida], [Total], [TarjetaId], [CorteId], [EstadoTicketId], [UsuarioId], [EstadoPermanenciaId], [TipoVehiculoId], [PrecioAplicado], [MultaId], [VehiculoId]) VALUES (1, CAST(N'2026-05-15' AS Date), CAST(N'17:00:32' AS Time), CAST(N'17:01:43' AS Time), CAST(0.50 AS Decimal(10, 2)), 3, 10, 2, 2, 2, 1, CAST(0.50 AS Decimal(10, 2)), NULL, 3)
INSERT [dbo].[Ticket] ([TicketId], [Fecha], [HoraEntrada], [HoraSalida], [Total], [TarjetaId], [CorteId], [EstadoTicketId], [UsuarioId], [EstadoPermanenciaId], [TipoVehiculoId], [PrecioAplicado], [MultaId], [VehiculoId]) VALUES (2, CAST(N'2026-05-15' AS Date), CAST(N'17:00:58' AS Time), CAST(N'17:05:27' AS Time), CAST(0.50 AS Decimal(10, 2)), 4, 11, 2, 2, 2, 1, CAST(0.50 AS Decimal(10, 2)), NULL, 4)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoCliente] ON 

INSERT [dbo].[TipoCliente] ([TipoClienteId], [Nombre]) VALUES (2, N'Docente')
INSERT [dbo].[TipoCliente] ([TipoClienteId], [Nombre]) VALUES (1, N'Estudiante')
INSERT [dbo].[TipoCliente] ([TipoClienteId], [Nombre]) VALUES (3, N'Personal')
SET IDENTITY_INSERT [dbo].[TipoCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoVehiculo] ON 

INSERT [dbo].[TipoVehiculo] ([TipoVehiculoId], [Nombre], [Precio]) VALUES (1, N'Automovil', CAST(0.50 AS Decimal(10, 2)))
INSERT [dbo].[TipoVehiculo] ([TipoVehiculoId], [Nombre], [Precio]) VALUES (2, N'Motocicleta', CAST(0.25 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TipoVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Nombre], [Clave], [EmpleadoId], [RolId], [EstadoUsuarioId]) VALUES (1, N'admin', N'$2a$11$WKUsETnIoHb0VOLsqcPTH.PGqlqjieLjrKMN6/4fIe0y5UHoJiNvm', 1, 1, 1)
INSERT [dbo].[Usuario] ([UsuarioId], [Nombre], [Clave], [EmpleadoId], [RolId], [EstadoUsuarioId]) VALUES (2, N'josue.bonilla', N'$2a$11$8CfLt5Tcysb89AHiYM/tT.EI9vvEDfYWRPX6D6Hc3svUKsTEvl1vq', 2, 2, 1)
INSERT [dbo].[Usuario] ([UsuarioId], [Nombre], [Clave], [EmpleadoId], [RolId], [EstadoUsuarioId]) VALUES (3, N'daniel.alas', N'$2a$11$FEfB5PEtxsQvVK6Vze/PY.gMW/jGJgMKaeAl82fTrHAKQXyjsUYTy', 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([VehiculoId], [Placa], [ClienteId], [TipoVehiculoId], [EstadoVehiculoId]) VALUES (1, N'C80563', 1, 1, 1)
INSERT [dbo].[Vehiculo] ([VehiculoId], [Placa], [ClienteId], [TipoVehiculoId], [EstadoVehiculoId]) VALUES (2, N'C120630', 1, 1, 1)
INSERT [dbo].[Vehiculo] ([VehiculoId], [Placa], [ClienteId], [TipoVehiculoId], [EstadoVehiculoId]) VALUES (3, N'C464743', 5, 1, 2)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Cliente__C03671B90E7C2F4D] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Empleado__C03671B9A91EF6BE] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoCl__75E3EFCFDAABD451] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoCliente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoCo__75E3EFCFF201B61A] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoCorte] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoEm__75E3EFCFEF8F743E] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoEmpleado] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoPe__75E3EFCFE5D26854] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoPermanencia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoTa__75E3EFCFD40F217E] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoTarjeta] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoTi__75E3EFCF7A31DDA7] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoTicket] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoUs__75E3EFCF73A8E273] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoUsuario] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoVe__75E3EFCFB6AE2168] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[EstadoVehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__MultaTic__3C99120C694887D5] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[MultaTicket] ADD UNIQUE NONCLUSTERED 
(
	[Concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Rol__75E3EFCF78B6D190] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Tarjeta__06370DACEFF17B6E] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Tarjeta] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoClie__75E3EFCF0BC93EDA] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[TipoCliente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoVehi__75E3EFCFEDC98C90] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[TipoVehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__75E3EFCFA1C69F1A] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Usuario__958BE9116FA80EA3] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Vehiculo__8310F99DF824FDE5] Fecha de script: 18/5/2026 22:33:08 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [EstadoClienteId]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((1)) FOR [EstadoCorteId]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((1)) FOR [EstadoEmpleadoId]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ((1)) FOR [EstadoTicketId]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ((1)) FOR [EstadoPermanenciaId]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [EstadoUsuarioId]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [EstadoVehiculoId]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([EstadoClienteId])
REFERENCES [dbo].[EstadoCliente] ([EstadoClienteId])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([TarjetaId])
REFERENCES [dbo].[Tarjeta] ([TarjetaId])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([TipoClienteId])
REFERENCES [dbo].[TipoCliente] ([TipoClienteId])
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD FOREIGN KEY([UsuarioAperturaId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD FOREIGN KEY([UsuarioCierreId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD  CONSTRAINT [FK_CorteCaja_EstadoCorte] FOREIGN KEY([EstadoCorteId])
REFERENCES [dbo].[EstadoCorte] ([EstadoCorteId])
GO
ALTER TABLE [dbo].[CorteCaja] CHECK CONSTRAINT [FK_CorteCaja_EstadoCorte]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([EstadoEmpleadoId])
REFERENCES [dbo].[EstadoEmpleado] ([EstadoEmpleadoId])
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD FOREIGN KEY([EstadoTarjetaId])
REFERENCES [dbo].[EstadoTarjeta] ([EstadoTarjetaId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([CorteId])
REFERENCES [dbo].[CorteCaja] ([CorteId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([EstadoPermanenciaId])
REFERENCES [dbo].[EstadoPermanencia] ([EstadoPermanenciaId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([EstadoTicketId])
REFERENCES [dbo].[EstadoTicket] ([EstadoTicketId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([MultaId])
REFERENCES [dbo].[MultaTicket] ([MultaId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([TarjetaId])
REFERENCES [dbo].[Tarjeta] ([TarjetaId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([TipoVehiculoId])
REFERENCES [dbo].[TipoVehiculo] ([TipoVehiculoId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Vehiculo] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([VehiculoId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Vehiculo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleado] ([EmpleadoId])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([EstadoUsuarioId])
REFERENCES [dbo].[EstadoUsuario] ([EstadoUsuarioId])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([RolId])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([EstadoVehiculoId])
REFERENCES [dbo].[EstadoVehiculo] ([EstadoVehiculoId])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([TipoVehiculoId])
REFERENCES [dbo].[TipoVehiculo] ([TipoVehiculoId])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([TipoDocumento]='CR' OR [TipoDocumento]='DUI'))
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD CHECK  (([MontoInicial]>=(0)))
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD CHECK  (([MontoTotal]>=(0)))
GO
ALTER TABLE [dbo].[MultaTicket]  WITH CHECK ADD CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Parqueo]  WITH CHECK ADD CHECK  (([CapacidadTotal]>(0)))
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[TipoVehiculo]  WITH CHECK ADD CHECK  (([Precio]>(0)))
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteCliente]
    @ClienteId INT
AS
BEGIN
    UPDATE Cliente
    SET EstadoClienteId = 2
    WHERE ClienteId = @ClienteId;

    PRINT 'Cliente eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteCorteCaja] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteCorteCaja]
    @CorteId INT
AS
BEGIN
    PRINT 'No se permite eliminar cortes de caja';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEmpleado]
    @EmpleadoId INT
AS
BEGIN
    UPDATE Empleado
    SET EstadoEmpleadoId = 2
    WHERE EmpleadoId = @EmpleadoId;

    PRINT 'Empleado cambiado a estado Inactivo';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoCliente]
    @EstadoClienteId INT
AS
BEGIN
    DELETE FROM EstadoCliente
    WHERE EstadoClienteId = @EstadoClienteId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoCorte] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoCorte]
    @EstadoCorteId INT
AS
BEGIN
    DELETE FROM EstadoCorte
    WHERE EstadoCorteId = @EstadoCorteId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoEmpleado]
    @EstadoEmpleadoId INT
AS
BEGIN
    DELETE FROM EstadoEmpleado
    WHERE EstadoEmpleadoId = @EstadoEmpleadoId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoPermanencia] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoPermanencia]
    @EstadoPermanenciaId INT
AS
BEGIN
    DELETE FROM EstadoPermanencia
    WHERE EstadoPermanenciaId = @EstadoPermanenciaId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoTarjeta]
    @EstadoTarjetaId INT
AS
BEGIN
    DELETE FROM EstadoTarjeta
    WHERE EstadoTarjetaId = @EstadoTarjetaId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoTicket]
    @EstadoTicketId INT
AS
BEGIN
    DELETE FROM EstadoTicket
    WHERE EstadoTicketId = @EstadoTicketId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoUsuario]
    @EstadoUsuarioId INT
AS
BEGIN
    DELETE FROM EstadoUsuario
    WHERE EstadoUsuarioId = @EstadoUsuarioId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteEstadoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteEstadoVehiculo]
    @EstadoVehiculoId INT
AS
BEGIN
    DELETE FROM EstadoVehiculo
    WHERE EstadoVehiculoId = @EstadoVehiculoId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteMultaTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteMultaTicket]
    @MultaId INT
AS
BEGIN
    DELETE FROM MultaTicket
    WHERE MultaId = @MultaId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteParqueo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteParqueo]
    @ParqueoId INT
AS
BEGIN
    DELETE FROM Parqueo
    WHERE ParqueoId = @ParqueoId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteRol] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteRol]
    @RolId INT
AS
BEGIN
    DELETE FROM Rol
    WHERE RolId = @RolId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteTarjeta]
    @TarjetaId INT
AS
BEGIN
    UPDATE Tarjeta
    SET EstadoTarjetaId = 2
    WHERE TarjetaId = @TarjetaId;

    PRINT 'Tarjeta eliminada correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteTicket]
    @TicketId INT
AS
BEGIN
    PRINT 'No se permite eliminar tickets';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteTipoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteTipoCliente]
    @TipoClienteId INT
AS
BEGIN
    DELETE FROM TipoCliente
    WHERE TipoClienteId = @TipoClienteId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteTipoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteTipoVehiculo]
    @TipoVehiculoId INT
AS
BEGIN
    DELETE FROM TipoVehiculo
    WHERE TipoVehiculoId = @TipoVehiculoId;

    PRINT 'Registro eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteUsuario]
    @UsuarioId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE UsuarioId = @UsuarioId)
        BEGIN
            PRINT 'El usuario que intenta eliminar no existe';
            RETURN;
        END

    UPDATE Usuario
    SET EstadoUsuarioId = 2
    WHERE UsuarioId = @UsuarioId;

    PRINT 'Usuario eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spDeleteVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDeleteVehiculo]
    @VehiculoId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Vehiculo WHERE VehiculoId = @VehiculoId)
        BEGIN
            PRINT 'El vehiculo que intenta eliminar no existe';
            RETURN;
        END

    UPDATE Vehiculo
    SET EstadoVehiculoId = 2
    WHERE VehiculoId = @VehiculoId;

    PRINT 'Vehiculo eliminado correctamente';
END;

-- 4) SP SELECT ALL
GO
/****** Objeto: StoredProcedure [dbo].[spGetCorteCajaActivo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGetCorteCajaActivo]
AS
BEGIN
    SELECT TOP 1
        CorteId,
        Fecha,
        HoraInicio,
        HoraEntrega,
        MontoInicial,
        MontoTotal,
        ObservacionInicial,
        ObservacionFinal,
        UsuarioAperturaId,
        UsuarioCierreId,
        EstadoCorteId
    FROM CorteCaja
    WHERE EstadoCorteId = 1;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spGetTicketActivoByTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGetTicketActivoByTarjeta]
    @TarjetaId INT
AS
BEGIN
    SELECT TOP 1
        TicketId,
        Fecha,
        HoraEntrada,
        HoraSalida,
        Total,
        TarjetaId,
        CorteId,
        UsuarioId,
        EstadoTicketId,
        EstadoPermanenciaId,
        TipoVehiculoId,
        PrecioAplicado,
        MultaId,
        VehiculoId
    FROM Ticket
    WHERE TarjetaId = @TarjetaId
      AND HoraSalida IS NULL
      AND EstadoTicketId = 1
    ORDER BY TicketId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spInsertCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertCliente]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Telefono VARCHAR(20),
    @TipoDocumento VARCHAR(20),
    @DUI VARCHAR(10),
    @CarnetExtranjero VARCHAR(20),
    @TarjetaId INT,
    @TipoClienteId INT,
    @EstadoClienteId INT = 1
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Cliente WHERE DUI = @DUI)
        BEGIN
            PRINT 'El cliente que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Cliente(Nombre, Apellido, Telefono, TipoDocumento, DUI, CarnetExtranjero, TarjetaId, TipoClienteId, EstadoClienteId)
            VALUES (@Nombre, @Apellido, @Telefono, @TipoDocumento, @DUI, @CarnetExtranjero, @TarjetaId, @TipoClienteId, @EstadoClienteId);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertCorteCaja] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertCorteCaja]
    @Fecha DATE,
    @HoraInicio TIME,
    @MontoInicial DECIMAL(10,2),
    @ObservacionInicial VARCHAR(255),
    @UsuarioAperturaId INT
AS
BEGIN
    -- Validar que no exista un corte abierto
    IF EXISTS (SELECT 1 FROM CorteCaja WHERE EstadoCorteId = 1)
    BEGIN
        PRINT 'Ya existe un corte de caja abierto';
        RETURN;
    END

    INSERT INTO CorteCaja
        (Fecha, HoraInicio, MontoInicial, ObservacionInicial, UsuarioAperturaId, EstadoCorteId)
    VALUES 
        (@Fecha, @HoraInicio, @MontoInicial, @ObservacionInicial, @UsuarioAperturaId, 1);

    PRINT 'Corte de caja abierto correctamente';

    SELECT SCOPE_IDENTITY() AS CorteId;
END;

-- 2) SP UPDATE (CIERRE)
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEmpleado]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @DUI VARCHAR(10),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(15),
    @Direccion VARCHAR(255),
    @EstadoEmpleadoId INT = 1
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Empleado WHERE DUI = @DUI)
        BEGIN
            PRINT 'El empleado con este DUI ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Empleado(Nombre, Apellido, DUI, Correo, Telefono, Direccion, EstadoEmpleadoId)
            VALUES(@Nombre, @Apellido, @DUI, @Correo, @Telefono, @Direccion, @EstadoEmpleadoId);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoCliente]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoCliente WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El estado de cliente que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoCliente(Nombre)
            VALUES (@Nombre);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoCorte] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoCorte]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoCorte WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El estado de corte que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoCorte(Nombre)
            VALUES (@Nombre);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoEmpleado]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoEmpleado WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El estado de empleado que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoEmpleado(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoPermanencia] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoPermanencia]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoPermanencia WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El estado de permanencia que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoPermanencia(Nombre)
            VALUES (@Nombre);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoTarjeta]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoTarjeta WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El Estado de tarjeta que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoTarjeta(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoTicket]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoTicket WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El Estado de ticket que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoTicket(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoUsuario]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoUsuario WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El Estado de usuario que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoUsuario(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertEstadoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertEstadoVehiculo]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoVehiculo WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El estado de vehiculo que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO EstadoVehiculo(Nombre)
            VALUES (@Nombre);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertMultaTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertMultaTicket]
    @Concepto VARCHAR(100),
    @Precio DECIMAL(10,2)
AS
BEGIN
    INSERT INTO MultaTicket(Concepto, Precio)
    VALUES (@Concepto, @Precio);

    PRINT 'Registro insertado correctamente';
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertParqueo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertParqueo]
    @CapacidadTotal INT
AS
BEGIN
    INSERT INTO Parqueo(CapacidadTotal)
    VALUES (@CapacidadTotal);

    PRINT 'Registro insertado correctamente';
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertRol] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertRol]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Rol WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El Rol que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Rol(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertTarjeta]
    @Codigo VARCHAR(50),
    @EstadoTarjetaId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Tarjeta WHERE Codigo = @Codigo)
        BEGIN
            PRINT 'La tarjeta que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Tarjeta(Codigo, EstadoTarjetaId)
            VALUES (@Codigo, @EstadoTarjetaId);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertTicket]
    @Fecha DATE,
    @HoraEntrada TIME,
    @TarjetaId INT,
    @CorteId INT,
    @UsuarioId INT,
    @EstadoTicketId INT,
    @EstadoPermanenciaId INT,
    @TipoVehiculoId INT,
    @PrecioAplicado DECIMAL(10,2),
    @MultaId INT = NULL,
    @VehiculoId INT = NULL
AS
BEGIN
    INSERT INTO Ticket
        (Fecha, HoraEntrada, TarjetaId, CorteId, UsuarioId, EstadoTicketId,
         EstadoPermanenciaId, TipoVehiculoId, PrecioAplicado, MultaId, VehiculoId)
    VALUES 
        (@Fecha, @HoraEntrada, @TarjetaId, @CorteId, @UsuarioId, @EstadoTicketId,
         @EstadoPermanenciaId, @TipoVehiculoId, @PrecioAplicado, @MultaId, @VehiculoId);

    PRINT 'Registro insertado correctamente';
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertTipoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertTipoCliente]
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TipoCliente WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El Tipo de cliente que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO TipoCliente(Nombre)
            VALUES (@Nombre);
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertTipoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertTipoVehiculo]
    @Nombre VARCHAR(50),
    @Precio DECIMAL(10,2)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TipoVehiculo WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El tipo de vehiculo ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO TipoVehiculo(Nombre, Precio)
            VALUES(@Nombre, @Precio);
            
            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertUsuario]
    @Nombre VARCHAR(50),
    @Clave VARCHAR(255),
    @EmpleadoId INT,
    @RolId INT,
    @EstadoUsuarioId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuario WHERE EmpleadoId = @EmpleadoId)
        BEGIN
            PRINT 'El empleado ya tiene un usuario asignado';
            RETURN;
        END

    IF EXISTS (SELECT 1 FROM Usuario WHERE Nombre = @Nombre)
        BEGIN
            PRINT 'El usuario que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Usuario(Nombre, Clave, EmpleadoId, RolId, EstadoUsuarioId)
            VALUES (@Nombre, @Clave, @EmpleadoId, @RolId, @EstadoUsuarioId);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spInsertVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertVehiculo]
    @Placa VARCHAR(20),
    @ClienteId INT,
    @TipoVehiculoId INT,
    @EstadoVehiculoId INT = 1
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Vehiculo WHERE Placa = @Placa)
        BEGIN
            PRINT 'El vehiculo que intenta registrar ya existe en la base de datos';
        END
    ELSE
        BEGIN
            INSERT INTO Vehiculo (Placa, ClienteId, TipoVehiculoId, EstadoVehiculoId)
            VALUES (@Placa, @ClienteId, @TipoVehiculoId, @EstadoVehiculoId);

            PRINT 'Registro insertado correctamente';
        END
END;

-- 2) SP UPDATE
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllCliente]
AS
BEGIN
    SELECT 
        ClienteId,
        Nombre,
        Apellido,
        Telefono,
        TipoDocumento,
        DUI,
        CarnetExtranjero,
        TarjetaId,
        TipoClienteId,
        EstadoClienteId
    FROM Cliente
    ORDER BY ClienteId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllCorteCaja] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllCorteCaja]
AS
BEGIN
    SELECT
        CorteId,
        Fecha,
        HoraInicio,
        HoraEntrega,
        MontoInicial,
        MontoTotal,
        ObservacionInicial,
        ObservacionFinal,
        UsuarioAperturaId,
        UsuarioCierreId,
        EstadoCorteId
    FROM CorteCaja
    WHERE EstadoCorteId <> 3 -- opcional: excluir ANULADOS
    ORDER BY Fecha DESC, HoraInicio DESC;
END;

-- 5) SP SELECT BY ID
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEmpleado]
AS
BEGIN
    SELECT
        EmpleadoId,
        Nombre,
        Apellido,
        DUI,
        Correo,
        Telefono,
        Direccion,
        EstadoEmpleadoId
    FROM Empleado
    ORDER BY EmpleadoId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoCliente]
AS
BEGIN
    SELECT 
        EstadoClienteId,
        Nombre
    FROM EstadoCliente
    ORDER BY EstadoClienteId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoCorte] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoCorte]
AS
BEGIN
    SELECT
        EstadoCorteId,
        Nombre
    FROM EstadoCorte
    ORDER BY EstadoCorteId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoEmpleado]
AS
BEGIN
    SELECT 
        EstadoEmpleadoId,
        Nombre
    FROM EstadoEmpleado
    ORDER BY EstadoEmpleadoId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoPermanencia] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoPermanencia]
AS
BEGIN
    SELECT
        EstadoPermanenciaId,
        Nombre
    FROM EstadoPermanencia
    ORDER BY EstadoPermanenciaId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoTarjeta]
AS
BEGIN
    SELECT
        EstadoTarjetaId,
        Nombre
    FROM EstadoTarjeta
    ORDER BY EstadoTarjetaId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoTicket]
AS
BEGIN
    SELECT
        EstadoTicketId,
        Nombre
    FROM EstadoTicket
    ORDER BY EstadoTicketId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoUsuario]
AS
BEGIN
    SELECT
        EstadoUsuarioId,
        Nombre
    FROM EstadoUsuario
    ORDER BY EstadoUsuarioId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllEstadoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllEstadoVehiculo]
AS
BEGIN
    SELECT
        EstadoVehiculoId,
        Nombre
    FROM EstadoVehiculo
    ORDER BY EstadoVehiculoId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllMultaTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllMultaTicket]
AS
BEGIN
    SELECT
        MultaId,
        Concepto,
        Precio
    FROM MultaTicket
    ORDER BY MultaId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllParqueo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllParqueo]
AS
BEGIN
    SELECT
        ParqueoId,
        CapacidadTotal
    FROM Parqueo
    ORDER BY ParqueoId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllRol] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllRol]
AS
BEGIN
    SELECT
        RolId,
        Nombre
    FROM Rol
    ORDER BY RolId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllTarjeta]
AS
BEGIN
    SELECT
        TarjetaId,
        Codigo,
        EstadoTarjetaId
    FROM Tarjeta
    ORDER BY TarjetaId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllTicket]
AS
BEGIN
    SELECT 
        TicketId,
        Fecha,
        HoraEntrada,
        HoraSalida,
        Total,
        TarjetaId,
        CorteId,
        UsuarioId,
        EstadoTicketId,
        EstadoPermanenciaId,
        TipoVehiculoId,
        PrecioAplicado,
        MultaId,
        VehiculoId
    FROM Ticket
    ORDER BY Fecha DESC;
END;

-- 5) SP SELECT BY
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllTipoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllTipoCliente]
AS
BEGIN
    SELECT
        TipoClienteId,
        Nombre
    FROM TipoCliente
    ORDER BY TipoClienteId DESC
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllTipoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllTipoVehiculo]
AS
BEGIN
    SELECT
        TipoVehiculoId,
        Nombre,
        Precio
    FROM TipoVehiculo
    ORDER BY TipoVehiculoId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllUsuario]
AS
BEGIN
    SELECT
        UsuarioId,
        Nombre,
        Clave,
        EmpleadoId,
        RolId,
        EstadoUsuarioId
    FROM Usuario
    ORDER BY UsuarioId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectAllVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectAllVehiculo]
AS
BEGIN
    SELECT
        VehiculoId,
        Placa,
        ClienteId,
        TipoVehiculoId,
        EstadoVehiculoId
    FROM Vehiculo
    ORDER BY VehiculoId DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectClienteById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectClienteById]
    @ClienteId INT
AS
BEGIN
    SELECT 
        ClienteId,
        Nombre,
        Apellido,
        Telefono,
        TipoDocumento,
        DUI,
        CarnetExtranjero,
        TarjetaId,
        TipoClienteId,
        EstadoClienteId
    FROM Cliente
    WHERE ClienteId = @ClienteId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectCorteCajaById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectCorteCajaById]
    @CorteId INT
AS
BEGIN
    SELECT
        CorteId,
        Fecha,
        HoraInicio,
        HoraEntrega,
        MontoInicial,
        MontoTotal,
        ObservacionInicial,
        ObservacionFinal,
        UsuarioAperturaId,
        UsuarioCierreId,
        EstadoCorteId
    FROM CorteCaja
    WHERE CorteId = @CorteId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEmpleadoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEmpleadoById]
    @EmpleadoId INT
AS
BEGIN
    SELECT
        EmpleadoId,
        Nombre,
        Apellido,
        DUI,
        Correo,
        Telefono,
        Direccion,
        EstadoEmpleadoId
    FROM Empleado
    WHERE EmpleadoId = @EmpleadoId
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoClienteById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoClienteById]
    @EstadoClienteId INT
AS
BEGIN
    SELECT
        EstadoClienteId,
        Nombre
    FROM EstadoCliente
    WHERE EstadoClienteId = @EstadoClienteId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoCorteById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoCorteById]
    @EstadoCorteId INT
AS
BEGIN
    SELECT
        EstadoCorteId,
        Nombre
    FROM EstadoCorte
    WHERE EstadoCorteId = @EstadoCorteId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoEmpleadoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoEmpleadoById]
    @EstadoEmpleadoId INT
AS
BEGIN
    SELECT
        EstadoEmpleadoId,
        Nombre
    FROM EstadoEmpleado
    WHERE EstadoEmpleadoId = @EstadoEmpleadoId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoPermanenciaById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoPermanenciaById]
    @EstadoPermanenciaId INT
AS
BEGIN
    SELECT
        EstadoPermanenciaId,
        Nombre
    FROM EstadoPermanencia
    WHERE EstadoPermanenciaId = @EstadoPermanenciaId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoTarjetaById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoTarjetaById]
    @EstadoTarjetaId INT
AS
BEGIN
    SELECT
        EstadoTarjetaId,
        Nombre
    FROM EstadoTarjeta
    WHERE EstadoTarjetaId = @EstadoTarjetaId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoTicketById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoTicketById]
    @EstadoTicketId INT
AS
BEGIN
    SELECT
        EstadoTicketId,
        Nombre
    FROM EstadoTicket
    WHERE EstadoTicketId = @EstadoTicketId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoUsuarioById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoUsuarioById]
    @EstadoUsuarioId INT
AS
BEGIN
    SELECT
        EstadoUsuarioId,
        Nombre
    FROM EstadoUsuario
    WHERE EstadoUsuarioId = @EstadoUsuarioId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectEstadoVehiculoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectEstadoVehiculoById]
    @EstadoVehiculoId INT
AS
BEGIN
    SELECT
        EstadoVehiculoId,
        Nombre
    FROM EstadoVehiculo
    WHERE EstadoVehiculoId = @EstadoVehiculoId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectMultaTicketById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectMultaTicketById]
    @MultaId INT
AS
BEGIN
    SELECT
        MultaId,
        Concepto,
        Precio
    FROM MultaTicket
    WHERE MultaId = @MultaId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectParqueoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectParqueoById]
    @ParqueoId INT
AS
BEGIN
    SELECT
        ParqueoId,
        CapacidadTotal
    FROM Parqueo
    WHERE ParqueoId = @ParqueoId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectRolById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectRolById]
    @RolId INT
AS
BEGIN
    SELECT
        RolId,
        Nombre
    FROM Rol
    WHERE RolId = @RolId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectTarjetaByCodigo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectTarjetaByCodigo]
    @Codigo VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TarjetaId,
        Codigo,
        EstadoTarjetaId
    FROM Tarjeta
    WHERE Codigo = @Codigo;
END
GO
/****** Objeto: StoredProcedure [dbo].[spSelectTarjetaById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectTarjetaById]
    @TarjetaId INT
AS
BEGIN
    SELECT
        TarjetaId,
        Codigo,
        EstadoTarjetaId
    FROM Tarjeta
    WHERE TarjetaId = @TarjetaId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectTicketById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectTicketById]
    @TicketId INT
AS
BEGIN
    SELECT 
        TicketId,
        Fecha,
        HoraEntrada,
        HoraSalida,
        Total,
        TarjetaId,
        CorteId,
        UsuarioId,
        EstadoTicketId,
        EstadoPermanenciaId,
        TipoVehiculoId,
        PrecioAplicado,
        MultaId,
        VehiculoId
    FROM Ticket
    WHERE TicketId = @TicketId;
END;

-- SP GET TICKET ACTIVO BY TARJETA
GO
/****** Objeto: StoredProcedure [dbo].[spSelectTipoClienteById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectTipoClienteById]
    @TipoClienteId INT
AS
BEGIN
    SELECT
        TipoClienteId,
        Nombre
    FROM TipoCliente
    WHERE TipoClienteId = @TipoClienteId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectTipoVehiculoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectTipoVehiculoById]
    @TipoVehiculoId INT
AS
BEGIN
    SELECT
        TipoVehiculoId,
        Nombre,
        Precio
    FROM TipoVehiculo
    WHERE TipoVehiculoId = @TipoVehiculoId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spSelectUsuarioById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectUsuarioById]
    @UsuarioId INT
AS
BEGIN
    SELECT
        UsuarioId,
        Nombre,
        Clave,
        EmpleadoId,
        RolId,
        EstadoUsuarioId
    FROM Usuario
    WHERE UsuarioId = @UsuarioId;
END;

-- SP LOGIN
GO
/****** Objeto: StoredProcedure [dbo].[spSelectVehiculoById] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSelectVehiculoById]
@VehiculoId INT
AS
BEGIN
    SELECT
        VehiculoId,
        Placa,
        ClienteId,
        TipoVehiculoId,
        EstadoVehiculoId
    FROM Vehiculo
    WHERE VehiculoId = @VehiculoId;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateCliente]
    @ClienteId INT,
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Telefono VARCHAR(20),
    @TipoDocumento VARCHAR(20),
    @DUI VARCHAR(10),
    @CarnetExtranjero VARCHAR(20),
    @TarjetaId INT,
    @TipoClienteId INT,
    @EstadoClienteId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Cliente WHERE DUI = @DUI AND ClienteId <> @ClienteId)
        BEGIN
            PRINT 'El DUI ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE Cliente
            SET Nombre = @Nombre,
                Apellido = @Apellido,
                Telefono = @Telefono,
                TipoDocumento = @TipoDocumento,
                DUI = @DUI,
                CarnetExtranjero = @CarnetExtranjero,
                TarjetaId = @TarjetaId,
                TipoClienteId = @TipoClienteId,
                EstadoClienteId = @EstadoClienteId
            WHERE ClienteId = @ClienteId;

            PRINT 'Registro actualizado correctamente';
        END
END;
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateCorteCaja] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateCorteCaja]
    @CorteId INT,
    @HoraEntrega TIME,
    @MontoTotal DECIMAL(10,2),
    @ObservacionFinal VARCHAR(255),
    @UsuarioCierreId INT
AS
BEGIN
    -- Validar que esté abierto
    IF NOT EXISTS (SELECT 1 FROM CorteCaja WHERE CorteId = @CorteId AND EstadoCorteId = 1)
    BEGIN
        PRINT 'El corte ya está cerrado o no existe';
        RETURN;
    END

    UPDATE CorteCaja
    SET 
        HoraEntrega = @HoraEntrega,
        MontoTotal = @MontoTotal,
        ObservacionFinal = @ObservacionFinal,
        UsuarioCierreId = @UsuarioCierreId,
        EstadoCorteId = 2
    WHERE CorteId = @CorteId;

    PRINT 'Corte de caja cerrado correctamente';
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEmpleado]
    @EmpleadoId INT,
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @DUI VARCHAR(10),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(15),
    @Direccion VARCHAR(255),
    @EstadoEmpleadoId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Empleado WHERE DUI = @DUI AND EmpleadoId <> @EmpleadoId)
        BEGIN
            PRINT 'El DUI ingresado ya pertenece a otro empleado';
        END
    ELSE
        BEGIN
            UPDATE Empleado
            SET Nombre = @Nombre,
                Apellido = @Apellido,
                DUI = @DUI,
                Correo = @Correo,
                Telefono = @Telefono,
                Direccion = @Direccion,
                EstadoEmpleadoId = @EstadoEmpleadoId
            WHERE EmpleadoId = @EmpleadoId;

            PRINT 'Registro actualizado correctamente';
        END
END;
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoCliente]
    @EstadoClienteId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoCliente WHERE Nombre = @Nombre AND EstadoClienteId <> @EstadoClienteId)
        BEGIN
            PRINT 'El estado de cliente ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoCliente
            SET Nombre = @Nombre
            WHERE EstadoClienteId = @EstadoClienteId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoCorte] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoCorte]
    @EstadoCorteId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (
        SELECT 1 
        FROM EstadoCorte 
        WHERE Nombre = @Nombre 
        AND EstadoCorteId <> @EstadoCorteId
    )
        BEGIN
            PRINT 'El estado de corte ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoCorte
            SET Nombre = @Nombre
            WHERE EstadoCorteId = @EstadoCorteId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoEmpleado] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoEmpleado]
    @EstadoEmpleadoId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoEmpleado WHERE Nombre = @Nombre AND EstadoEmpleadoId <> @EstadoEmpleadoId)
        BEGIN
            PRINT 'El estado de empleado ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoEmpleado
            SET Nombre = @Nombre
            WHERE EstadoEmpleadoId = @EstadoEmpleadoId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoPermanencia] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoPermanencia]
    @EstadoPermanenciaId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoPermanencia WHERE Nombre = @Nombre AND EstadoPermanenciaId <> @EstadoPermanenciaId)
        BEGIN
            PRINT 'El estado de permanencia ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoPermanencia
            SET Nombre = @Nombre
            WHERE EstadoPermanenciaId = @EstadoPermanenciaId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoTarjeta]
    @EstadoTarjetaId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoTarjeta WHERE Nombre = @Nombre AND EstadoTarjetaId <> @EstadoTarjetaId)
        BEGIN
            PRINT 'El Estado de tarjeta ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoTarjeta
            SET Nombre = @Nombre
            WHERE EstadoTarjetaId = @EstadoTarjetaId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoTicket]
    @EstadoTicketId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoTicket WHERE Nombre = @Nombre AND EstadoTicketId <> @EstadoTicketId)
        BEGIN
            PRINT 'El Estado de ticket ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoTicket
            SET Nombre = @Nombre
            WHERE EstadoTicketId = @EstadoTicketId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoUsuario]
    @EstadoUsuarioId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoUsuario WHERE Nombre = @Nombre AND EstadoUsuarioId <> @EstadoUsuarioId)
        BEGIN
            PRINT 'El Estado de usuario ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoUsuario
            SET Nombre = @Nombre
            WHERE EstadoUsuarioId = @EstadoUsuarioId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateEstadoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateEstadoVehiculo]
    @EstadoVehiculoId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM EstadoVehiculo WHERE Nombre = @Nombre AND EstadoVehiculoId <> @EstadoVehiculoId)
        BEGIN
            PRINT 'El estado de vehiculo ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE EstadoVehiculo
            SET Nombre = @Nombre
            WHERE EstadoVehiculoId = @EstadoVehiculoId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateMultaTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateMultaTicket]
    @MultaId INT,
    @Concepto VARCHAR(100),
    @Precio DECIMAL(10,2)
AS
BEGIN
    UPDATE MultaTicket
    SET Concepto = @Concepto,
        Precio = @Precio
    WHERE MultaId = @MultaId;

    PRINT 'Registro actualizado correctamente';
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateParqueo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateParqueo]
    @ParqueoId INT,
    @CapacidadTotal INT
AS
BEGIN
    UPDATE Parqueo
    SET CapacidadTotal = @CapacidadTotal
    WHERE ParqueoId = @ParqueoId;

    PRINT 'Registro actualizado correctamente';
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateRol] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateRol]
    @RolId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Rol WHERE Nombre = @Nombre AND RolId <> @RolId)
        BEGIN
            PRINT 'El Rol ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE Rol
            SET Nombre = @Nombre
            WHERE RolId = @RolId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateTarjeta] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateTarjeta]
    @TarjetaId INT,
    @Codigo VARCHAR(50),
    @EstadoTarjetaId INT
AS
BEGIN
    -- Validaciones críticas
    IF EXISTS (SELECT 1 FROM Tarjeta WHERE Codigo = @Codigo AND TarjetaId <> @TarjetaId)
        BEGIN
            PRINT 'El codigo de tarjeta ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE Tarjeta
            SET Codigo = @Codigo,
                EstadoTarjetaId = @EstadoTarjetaId
            WHERE TarjetaId = @TarjetaId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE (Eliminación lógica)
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateTicket] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateTicket]
    @TicketId INT,
    @HoraSalida TIME,
    @Total DECIMAL(10,2),
    @CorteId INT,
    @EstadoTicketId INT,
    @MultaId INT,
    @EstadoPermanenciaId INT
AS
BEGIN
    UPDATE Ticket
    SET HoraSalida = @HoraSalida,
        Total = @Total,
        CorteId = @CorteId,
        EstadoTicketId = @EstadoTicketId,
        MultaId = @MultaId,
        EstadoPermanenciaId = @EstadoPermanenciaId
    WHERE TicketId = @TicketId;

    PRINT 'Registro actualizado correctamente';
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateTipoCliente] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateTipoCliente]
    @TipoClienteId INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TipoCliente WHERE Nombre = @Nombre AND TipoClienteId <> @TipoClienteId)
        BEGIN
            PRINT 'El Tipo de cliente ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE TipoCliente
            SET Nombre = @Nombre
            WHERE TipoClienteId = @TipoClienteId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateTipoVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateTipoVehiculo]
    @TipoVehiculoId INT,
    @Nombre VARCHAR(50),
    @Precio DECIMAL(10,2)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TipoVehiculo WHERE Nombre = @Nombre AND TipoVehiculoId <> @TipoVehiculoId)
        BEGIN
            PRINT 'El Tipo de vehiculo ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE TipoVehiculo
            SET Nombre = @Nombre,
                Precio = @Precio
            WHERE TipoVehiculoId = @TipoVehiculoId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateUsuario] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateUsuario]
    @UsuarioId INT,
    @Nombre VARCHAR(50),
    @Clave VARCHAR(255),
    @EmpleadoId INT,
    @RolId INT,
    @EstadoUsuarioId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuario WHERE EmpleadoId = @EmpleadoId AND UsuarioId <> @UsuarioId)
        BEGIN
            PRINT 'El empleado ya tiene un usuario asignado';
            RETURN;
        END

    IF EXISTS (SELECT 1 FROM Usuario WHERE Nombre = @Nombre AND UsuarioId <> @UsuarioId)
        BEGIN
            PRINT 'El usuario con ese nombre ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE Usuario
            SET Nombre = @Nombre,
                Clave = @Clave,
                EmpleadoId = @EmpleadoId,
                RolId = @RolId,
                EstadoUsuarioId = @EstadoUsuarioId
            WHERE UsuarioId = @UsuarioId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE (Eliminación lógica)
GO
/****** Objeto: StoredProcedure [dbo].[spUpdateVehiculo] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUpdateVehiculo]
    @VehiculoId INT,
    @Placa VARCHAR(20),
    @ClienteId INT,
    @TipoVehiculoId INT,
    @EstadoVehiculoId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Vehiculo WHERE Placa = @Placa AND VehiculoId <> @VehiculoId)
        BEGIN
            PRINT 'La placa ya existe en la base de datos';
        END
    ELSE
        BEGIN
            UPDATE Vehiculo
            SET Placa = @Placa,
                ClienteId = @ClienteId,
                TipoVehiculoId = @TipoVehiculoId,
                EstadoVehiculoId = @EstadoVehiculoId
            WHERE VehiculoId = @VehiculoId;

            PRINT 'Registro actualizado correctamente';
        END
END;

-- 3) SP DELETE (lógica)
GO
/****** Objeto: StoredProcedure [dbo].[spUsuarioLogin] Fecha de script: 18/5/2026 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUsuarioLogin]
(
    @Nombre VARCHAR(50)
)
AS
BEGIN
    SELECT
        UsuarioId,
        Nombre,
        Clave,
        EmpleadoId,
        RolId,
        EstadoUsuarioId
    FROM Usuario
    WHERE Nombre = @Nombre
END
GO
USE [master]
GO